#Requirements for SmartEmbed
Flask==1.1.4
WTForms==2.3.3
PyMySQL==0.10.1

numpy==1.16.1
scipy==1.2.1
gensim==3.8.3
fasttext==0.9.2
pybind11>=2.6

antlr4-python3-runtime==4.8
gdown==4.5.1
tqdm>=4.64.0
